<Styled @bind-Classname="@_person">
    width: 32.25vw;
    height: 43vw;
    background: url(/static/l-person.svg) 0px 0px;
    border: 0px none;
    align-self: center;
    background-size: 100% 100%;
    margin: auto;
</Styled>

<div class="@_person">
    
</div>

@code {
    private string _person;
}